.home{
    max-width: 1200px;
    margin: auto;
    border: 2px solid $green;
}

.title{
    background-color: $green;
    color: rgb(202, 211, 173);
    h1{
        font-family: 'Riffic Free Bold';
        letter-spacing: 2px;
        font-size: 64px;
        margin: auto 0px;
    }

}

.logo-header{
    display: flex;
    margin: 15px 0;
    
    img{
        height: 125px;
        width: auto;
        border-radius: 50%;
        border: 3px solid $greenyellow
    }
}

.link-employeeList{
    font-weight: bold;
    color: #fff;
    margin: 20px 0;    
    background-color: $green;
    border: 1px solid $greenyellow;    
    border-radius: 5px;
    .employee-button{
        margin: 10px;
    }
}

.link-employeeList:hover{
    color: #000;
    background-color: $greenyellow;
    border: 1px solid $green;
    transition: all 0.5s ease-in-out;
}

.title-form {
    color: $green;
    font-family: 'Riffic Free Bold';
    letter-spacing: 2px;
    font-size: 28px;
    margin: auto 0px;
    text-transform: uppercase;
}

.address{
    background: $green;
    border: 2px solid $greenyellow;
    color: white;
    margin: 25px 0;
    .legend{
        padding: 5px;
        background: $green;
        border: 2px solid $greenyellow;
    }
}


.input-employee-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 275px;
    margin: auto;
    label{
        text-align: center;
        margin: 15px auto;
        font-weight: bold;  
        font-size: 1.17em;      
    }
    input{
        width: 150px;
        margin: auto;
        height: 25px;
        
    }
    .last{
        margin-bottom: 20px;
    }
}

.title-input-form{
    text-align: center;
    margin: 15px auto;
}


.button-save{
    display: flex;
    justify-content: center;
    margin: 15px auto;
    
    button{
        background-color: $green;
        width: 80px;
        height: 35px;
        border: 1px solid $greenyellow;
        border-radius: 5px;
        color: #fff;
    }

    button:hover{
        background-color: $greenyellow;
        border: 1px solid $green;
        transition: all 0.5s ease-in-out;
        color: #000;
    }
}

.ReactModal__Content{
    inset: 15% 40% 50% 40%;
}

.ReactModal__Overlay{
    z-index: 10;
}