$green: rgb(102,139,0);
$greenyellow: rgb(137,180,0);

html{
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    display: block;
    z-index: 0;
}

.address {
    margin-top: 10px;

}